<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330657617117-q0ope5grm11r8ameqd7dngm3lv6bqsq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330657617117-q0ope5grm11r8ameqd7dngm3lv6bqsq4</string>
	<key>API_KEY</key>
	<string>AIzaSyBDlM2MzF8e2dwtbPvO5vqizGvxVJ59yPU</string>
	<key>GCM_SENDER_ID</key>
	<string>330657617117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.compnay.journal</string>
	<key>PROJECT_ID</key>
	<string>journal-e28a7</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-e28a7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330657617117:ios:2d17e52b1a4cc9a61ff734</string>
</dict>
</plist>